@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #FF0000;
    --color-purple: #7B61FF;
    --color-form: #161414;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
}

.container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.container--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    height: 800px;
    padding-top: 31px;
    padding-bottom: 100px;

    background-color: var(--color-black);
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;

    border-radius: 0 0 54px 54px;

    color: var(--color-white);
}

.header-nav {
}

.header-title {
}

.header-form {
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 54px;
}

.nav-list__link {
    color: var(--color-white);
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}

.user {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user__content {
    color: var(--color-white);
    font-size: 14px;
    line-height: 1.5;
}

.user__greeting {
    opacity: 0.5;
}

.user__name {
    font-weight: 600;
}


.user__avatar {
    position: relative;

    height: 48px;
    width: 48px;
}

.user__avatar::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-red);

    position: absolute;
    top: 0;
    right: 0;
}

.user__avatar-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.29;
    color: var(--color-white);
}

.button {
    display: flex;
    align-items: center;

    height: 72px;
    padding: 24px;
    gap: 10px;
    
    background-color: var(--color-purple);
    border-radius: 12px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in;
}

.button:hover {
    background-color: #6344ff;
}

.form {
    height: 88px;
    max-width: 1140px;
    padding: 8px 8px;

    display: flex;

    background-color: var(--color-white);
    border-radius: 12px;
    color: var(--color-form);
}

.btn-search {
    width: 60px;
    height: 60px;
    padding: 18px;

    background-color: var(--color-purple);
    border-radius: 12px;
    cursor: pointer;
}

.form__input {
    display: inline-block;
}

/* HEADER */